In [53]:

import pandas as pd
import numpy as np

In [64]:
data = pd.read_csv('BookExample.csv')
data2 = pd.read_csv('data2 - Sheet1.csv')

In [62]:
data

      Sky AirTemp Humidity     Wind Water Forecast EnjoySports
0  sunny    warm    normal  strong   warm     same          yes
1  sunny    warm      high  strong   warm    same           yes
2  rainy     cold     high  strong   warm  change            no
3  sunny    warm      high  strong   cool  change           yes

In [65]:
data2

      TIme Weather Temperature Company Humidity    Wind  Goes
0  morning   sunny        warm     yes     mild  strong   yes
1  evening   rainy        cold      no    mild    normal   no
2  morning   sunny   moderate      yes   normal   normal  yes
3  evening   sunny       cold      yes     high  strong   yes

In [56]:
concepts = np.array(data)[:,:-1]

In [ ]:
concepts2 = np.array(data2)[:,:-1]

In [57]:
concepts

array([['sunny ', 'warm ', 'normal', 'strong ', 'warm', 'same'],
       ['sunny ', 'warm ', 'high', 'strong ', 'warm', 'same '],
       ['rainy ', 'cold', 'high', 'strong ', 'warm', 'change '],
       ['sunny ', 'warm ', 'high', 'strong ', 'cool', 'change ']],
      dtype=object)

In [58]:
target = np.array(data)[:,-1]

In [59]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [60]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h = con[i].copy()
            break
            
    for i,val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

In [61]:
print(train(concepts,target))

['sunny ' 'warm ' '?' 'strong ' '?' '?']